name: Push stable Brudi-Operator

on:
  push:
    tags:
      - '*'

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install requirements
        run: sudo bash $(pwd)/scripts/requirements.sh

      - name: Log into registry
        run: |
          docker login -u="${{ secrets.QUAY_IO_USER }}" -p="${{ secrets.QUAY_IO_TOKEN }}" quay.io

      - name: Push brudi-operator stable
        env:
          PUSH: "true"
          GITHUB_TOKEN: "${{ secrets.RELEASE_USER_TOKEN }}"
          HELM_REPO_USERNAME: "${{ secrets.HELM_REPO_USERNAME }}"
          HELM_REPO_PASSWORD: "${{ secrets.HELM_REPO_PASSWORD }}"
        run: >
          bash $(pwd)/scripts/docker-build-tag.sh "stable" &&
          bash $(pwd)/scripts/docker-build-tag.sh "${GITHUB_REF:10}" &&
          bash $(pwd)/scripts/bump-app-version.sh publish
